@using PeopleHW.Data
@model PersonViewModel

@if (!String.IsNullOrEmpty(Model.Message))
{
    <div class="row col-md-12">
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            @Model.Message
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
}

<div class="container row col-md-12">
    <a href="/home/AddPerson" class="btn btn-danger">Add People</a>


    <table class="table table-hover table-striped table-bordered mt-3">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Age</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Person person in Model.people)
            {
                <tr>
                    <td>@person.FirstName</td>
                    <td>@person.LastName</td>
                    <td>@person.Age</td>
                </tr>
            }
        </tbody>
    </table>
</div>
